<div class="sim-container" ng-controller="SimulationController as vm">
    <h2>Simulation <span>{{vm.status}}</span><span ng-show="vm.collisionAlert"> - {{vm.collisionAlert}} alert!</span></h2>
    <div class="block-container">
        <canvas id="rcanvas" class="road" width="640px" height="800px" ng-click="vm.click($event)">
        </canvas>
        <span class="controls">
        <h4>Scenario Configuration</h2>
            <hr>
            <span>Current speed limit: <strong class="speed">{{vm.currentVelocity}}</strong></span>
            <hr>
            <span>Simulation controls</span><br>
            <button ng-disabled="vm.collisionAlert" label="start" ng-click="vm.start()">Start</button>
            <button label="stop" ng-click="vm.stop()">Stop</button>
            <button label="reset" ng-click="vm.reset()">Reset Scenario</button>
            <button label="clear" ng-click="vm.clearScenario()">Clear Scenario</button><br>
            <hr>
            <div>
            <span>Runtime length (s)</span><br>
            <input class="align-left" type="number" name="runtime" step="10" min="10" max="60" ng-model="vm.runtime">
            </div>
            <div>
            <span>Frame time (ms)</span><br>
            <input class="align-right" type="number" name="frameTime" min="200" step="100" max="1000" ng-model="vm.frameTime"><br>
            </div>
            <hr>
            Example scenarios<br>
            <div ng-repeat="scenario in vm.scenarios">
                <label>
                    <input type="radio" ng-model="vm.selectedScenarioNumber" ng-change="vm.changeScenario()" value="{{$index}}">
                    Scenario {{$index + 1}}
                </label><br>
            </div>
            <hr>
            <span>Place object</span><br>
            <select ng-model="vm.selectedType" ng-change="vm.changeNNPreview(vm.selectedType)" required name="type">
                <option value="" selected disabled>Choose a type</option>
                <option ng-repeat="object in vm.exampleObjects track by $index" value="{{object.type}}">{{::object.readableName}}</option>
            </select>
            <select ng-model="vm.selectedVelocity" required name="speed">
                <option value="" selected disabled>Choose a speed</option>
                <option ng-repeat="speed in vm.selectableVelocities track by $index" value="{{speed.value}}">{{::speed.readableName}}</option>
            </select>
            <hr>
            <span>Simulate rain/dirty camera</span>
            <input type="checkbox" ng-model="vm.rainDirt" ng-change="vm.updateRainDirt(vm.rainDirt)">
            <hr>
            <span>Neural net image preview</span><br>
            <table>
                <tr ng-repeat="row in vm.smallImage track by $index">
                    <td ng-repeat="column in row track by $index" ng-class="column ? 'white' : 'black'"></td>
                </tr>
            </table>
        </span>
                    <span class="controls">
        <h4>Network Configuration</h2>
        <hr>
            <span>Network type</span><br>
                <select ng-model="vm.selectedNetworkType" required name="NNType" ng-change="vm.init()">
                <option ng-init="vm.selectedNetworkType = vm.selectableNetworkTypes[0]" ng-repeat="network in vm.selectableNetworkTypes track by $index" value="{{network}}">{{::network}}</option>
            </select>
            <hr>
            <div ng-if="vm.selectedNetworkType == 'Perceptron' || vm.selectedNetworkType == 'Stochastic'">
	            <span>Hidden neuron count</span><br>
                   <input class="align-right" type="number" name="frameTime" min="0" step="1" max="100" ng-model="vm.hiddenNeuron" ng-change="vm.init()"><br>
            </div>
            <div ng-if="vm.selectedNetworkType == 'Liquid State Machine'">
	            <span>Pool neuron count</span><br>
                   <input class="align-right" type="number" name="frameTime" min="0" step="1" max="100" ng-model="vm.hiddenNeuron" ng-change="vm.init()"><br>
	            </select>
	            <span>Connection count</span><br>
                   <input class="align-right" type="number" name="frameTime" min="0" step="1" max="100" ng-model="vm.connectionCount" ng-change="vm.init()"><br>
	            </select>
            </div>
            <div ng-if="vm.selectedNetworkType != 'Hopfield'">
	            <span>Training rate</span><br>
                   <input class="align-right" type="number" name="frameTime" min="0.1" step="0.01" max="1" ng-model="vm.trainingRate" ng-change="vm.init()"><br>
	            </select>
	            <span>Target error rate</span><br>
                   <input class="align-right" type="number" name="frameTime" min="0.001" step="0.001" max="0.1" ng-model="vm.errorRate" ng-change="vm.init()"><br>
	            </select>
	            <hr>
            </div>
            <button label="benchmark" class="" ng-click="vm.init()">Benchmark current</button>
            <button ng-if="vm.selectedNetworkType != 'Hopfield'" label="optimal" class="" ng-click="vm.handleFindOptimum()">Find optimum</button><br>
            <hr>
                    
            <span>Console output</span><br>
<textarea class="console-window" disabled ng-model="vm.consoleOut">
</textarea>
    </span>
    </div>
</div>
